.head {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fff;
}
.Head {
  line-height: 0px;
}
.elle {
  text-decoration: underline;
}
#menu {
  background-color: #fff;
  z-index: 100;
  position: relative;
}
h1 {
  text-transform: uppercase;
}
