.head {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* background: transparent; */
    background: #fff;
    position: relative;
    background: #fff;
}
.head-img {
    height: 100px;
    overflow: hidden;
    margin: auto;
    position: relative;
    background: #fff;
    /* border: 1px solid black; */
}
.headImg {
    width: 50px;
    margin: 20px 0px;
    transform: scale(2);
    cursor: pointer;
}
h1 {
    text-transform: uppercase;
}
.byline {
    font-size: 18px;
}
/* Small view */
@media only screen and (max-width: 60rem) {
    .head-container {
        position: relative;
    }
}