<div id="menu">
  <ul>
    <li><a href="#">Home</a></li>
    <div class="contact">
      <li><a href="#">Contact <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
      <div class="dropdown-content">
        <span id="info">
          <strong>Stylist Name:</strong> Elle Igbineweka <br />
          <hr>
          <strong>instagram:</strong> ellegantbraids <br />
          <strong>Email:</strong> ellegantbraids@gmail.com <br />
          <strong>Phone:</strong> (385) 314 - 5615 <span class="text">(*Text only*)</span> <br /> <br />
          <span class="elle">Elle</span>gant braids is located at Salt lake, Utah.
        </span>
      </div>
    </div>
  </ul>
</div>
