h2 {
  font-size: 30px;
  text-align: left;
  z-index: 10;
}
#welcome {
  margin:  auto;
  margin-top: 50px;
  width: 40%;
  display: flex;
  align-items: center;
}
p {
  background-color: tomato;
  padding: 50px;
  margin-left: -20px;
  color: #fff;
}
